/* BASIC RESET */
ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input{margin:0; padding:0;}

/* HTML ELEMENTS */

body {
	background-image: url(../images/back-1.png);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 21px;

}
h1 {
	text-align: center;
	color: #eee;
	text-shadow: 0px 2px 6px #333;
	font-family: Helvetica, Arial, Sans-serif;
	font-size: 55px;
	line-height: 60px;
	font-weight: bold;
}
h1 small{
	font-size: 0.7em;
	text-transform:uppercase;
	letter-spacing: 20px;
	display: block;
	line-height: 20px;
	color: #FFFF00;
}
h2 a { display: block; text-decoration: none; margin: 0 0 30px 0; font: italic 45px Georgia, Times, Serif;  text-align: center; color: #bfe1f1; text-shadow: 0px 2px 6px #333; }
h2 a:hover { color: #90bcd0; }

/* COMMON CLASSES */
.break { clear:both; }

/* WRAPPER */
#wrapper { width:100%; margin:0 auto; }

/* CONTENT */
#content {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	margin-top: 100px;
}
#content .info { padding:10px; }

/* MOVIE POSTERS */
.movieposters { list-style:none; margin: 0 auto; text-align: center;display: inline-table;}
.movieposters li { display:inline; float:left;
	-webkit-perspective: 1000; -webkit-transform-style: preserve-3d;
	-webkit-transition-property: perspective; -webkit-transition-duration: 0.5s; }
.movieposters li:hover { -webkit-perspective: 5000; }
	
.movieposters li img { border:10px solid #fcfafa; -webkit-transform: rotateY(30deg);
	-moz-box-shadow:0 3px 10px #888; -webkit-box-shadow:0 3px 10px #888;
	-webkit-transition-property: transform; -webkit-transition-duration: 0.5s; }
.movieposters li:hover img { -webkit-transform: rotateY(0deg); }

.movieinfo {
	border:10px solid #fcfafa;
	padding:20px;
	padding-top: 10px;
	width:70px;
	height:25px;
	background-color:#deddcd;
	position:absolute;
	-moz-box-shadow:0 20px 40px #888;
	-webkit-box-shadow:0 20px 40px #888;
	-webkit-transform: translateZ(30px) rotateY(30deg);
	-webkit-transition-property: transform, box-shadow, margin;
	-webkit-transition-duration: 0.5s;
	margin-top: -195px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 50px;
	left: -10px;
	top: 373px;
}
.movieinfo h2{
	font-size: 1em;
}
	
.movieposters li:hover .movieinfo { -webkit-transform: rotateY(0deg); -webkit-box-shadow:0 5px 10px #888; margin:-175px 0 0 50px; }
	
.movieinfo h3 {
	color:#990000;
	font-variant: small-caps;
	font-family:Georgia, serif, Times;
	text-align:center;
	padding-bottom:5px;
	background-color: #CCCCCC;
}
.movieinfo p { padding-bottom:15px; }
.movieinfo a {
	background-color:#990000;
	color:#eee;
	text-decoration:none;
	display:block;
	width:50px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
	height: 22px;
	font-size: 0.7em;
}
.movieinfo a:hover, .movieinfo a:focus { background-color:#6a191f; color:#fff; }
.evaluasititle{
	margin-top: 30px;
}
.evaluasititle h1{
	margin-bottom: 0;
}
#footer{
	background: transparent url('../images/footer.png') repeat-x;
	height: 50px;
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
}

#ribbon{
	position: absolute;
	bottom: 8px;
	left: 100px;
}


.wizardtryout{
	width: 80%;
	
}

